.img1{
    height: 45px;
}
.nav1{
    background-color: white;

}

.div1{
    height: 280px;
    width: 232px;
    border: 1px solid black;
    
}

.a1{
    text-decoration: none;
    color: black;

}

.head1{
    margin-top: 25px;
    margin-left: 5px;
}

.p1{
    margin-left: 5px;
}

